<%= form_with(model: favorite_stock, local: true) do |form| %>
  <% if favorite_stock.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(favorite_stock.errors.count, "error") %> prohibited this favorite_stock from being saved:</h2>

      <ul>
      <% favorite_stock.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :symbol %>
    <%= form.text_field :symbol, id: :favorite_stock_symbol %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
